{% extends "blogs/base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="card">
    {% for post in blogposts %}
    <h5 class="card-header">
        {{post.title}} <small>({{post.owner}} - {{post.date_added|date:'d M Y, h:i'}})</small>
    </h5>
    <div class="card-body">
        <p>{{post.text|linebreaks}}</p>
        {% if post.owner == user %}
        <a href="{% url 'blogs:edit_post' post.id %}">Редактировать пост</a>
        {% endif %}
    </div>
    {% empty %}
    <p>Блог полностью пуст</p>
    {% endfor %}
</div>
<p></p>
    <a href="{% url 'blogs:new_post' %}" class="btn btn-secondary">Добавить пост</a>


{% endblock content %}
